@media(max-width:1023px) {
	.wrapper {width:100%;}
	body{padding:0 10px;}
	div.label {width:25%;}
	div.input, div.data {width:70%;}
}
@media(min-width:1024px) {
	.wrapper {width:980px;}
	body{padding:0;}
	div.label {width:180px;}
	div.input, div.data {width:720px;}
}
@media(min-width:512px) {
	div.header h1, div.header h2 {float:left;clear:left;max-width:70%;}
	div.header div.section {float:right;width:30%;margin-bottom:0;}
}
html		{height:100%;}
body 		{min-height:100%;margin:0;background-color:#333;color:#ccc;
		font-family:sans-serif;font-size:0.8em;position:relative;}
#overlay	{position:absolute;background-image:url("images/000000-0.8.png");opacity:0;left:0;top:0;
		width:100%;height:100%;z-index:2;display:none;}
#overlay #lightbox	{background-color:#555;border-radius:8px;display:inline-block;padding:16px;
		position:fixed;}
#overlay #lightbox .image { position:relative;}
#overlay #lightbox img 	{ display:block;}
#overlay #lightbox .image .cropbox { position:absolute;z-index:3;border:1px solid;
		border-image: url("images/ants.gif") 8 8 repeat;
		-moz-border-image: url("images/ants.gif") 1 1 repeat;
		-webkit-border-image: url("images/ants.gif") 1 1 repeat;
		cursor:move;}
#overlay #lightbox .image .cropbox .handle { position:absolute; overflow:visible;}
#overlay #lightbox .image .cropbox .handle > div { position:absolute; width:25px; height:25px; left:-12px; top:-12px;}
#overlay #lightbox .image .cropbox .handle > div > div { position:absolute; left:9px; top:9px;
	width:5px;height:5px;border:1px solid #000; background-color:#fff; }


#overlay #lightbox .image .cropbox .h_tl {left:0px;top:0px;cursor:nw-resize;}
#overlay #lightbox .image .cropbox .h_tc {left:50%;top:0%;cursor:n-resize;}
#overlay #lightbox .image .cropbox .h_tr {right:0px;top:0px;cursor:ne-resize;}
#overlay #lightbox .image .cropbox .h_cl {left:0px;top:50%;cursor:w-resize;}
#overlay #lightbox .image .cropbox .h_cr {right:0px;top:50%;cursor:e-resize;}
#overlay #lightbox .image .cropbox .h_bl {left:0px;bottom:0px;cursor:sw-resize;}
#overlay #lightbox .image .cropbox .h_bc {left:50%;bottom:0px;cursor:s-resize;}
#overlay #lightbox .image .cropbox .h_br {right:0px;bottom:0px;cursor:se-resize;}
#overlay #lightbox .buttons {height:32px;margin-top:8px;}
#overlay #lightbox .buttons span {display:block;float:left;}
#overlay #lightbox .buttons a {display:block;float:right;}
.wrapper	{margin:0 auto;}
div.header:after{visiblity:hidden;display:block;font-size:0;content:" ";
		clear:both;height:0;}
div.header h2	{margin-top:0;margin-bottom:0;}
div.section	{background-color:#555;border-radius:4px;margin:10px 0;
		padding:10px;}
div.section h3	{margin-top:0;margin-bottom:5px;}
.button,
.ui-datepicker-trigger
		{font-size:12px;display:inline-block;margin:2px 4px;
		padding:5px;background-color:#333;color:#ddd;
		font-family:sans-serif;border-radius:4px;
		cursor:pointer;text-decoration:none;border-width:2px;
		border-style:solid;border-color:#aaa #000 #000 #aaa;}
.button:hover	{background-color:#555;border-color:#ccc #222 #222 #ccc;
		color:#fff;}
.footer		{text-align:right;font-size:0.8em;padding-bottom:10px;}
table 		{background-color:#555;border-radius:4px;width:100%;
		border-collapse:collapse;margin-top:10px;}
thead		{border-width:0 0 1px 0;border-color:#ccc;
		border-style:solid;}
table tr:nth-child(even)		{background-color:#666;}
table tr:last-child td:first-child	{border-bottom-left-radius: 4px; }
table tr:last-child td:last-child	{border-bottom-right-radius: 4px; }
td, th		{text-align:left;padding:5px;}
td.buttons,
th.buttons	{border-width:0 0 0 1px;border-color:#ccc;
		border-style:solid;width:120px; text-align:center;}
form.inline	{display:inline-block;}
div.label,
div.input	{float:left;padding:5px 5px 5px 0;position:relative;}
div.data	{float:left;padding:10px 5px 5px 0;}
div.input>*, div.data>*	{vertical-align:middle;}
div.input>div	{display:block;padding:0 10px;
		overflow:hidden;position:relative;}
div.input>div.tabs	{padding:0;border:none;background-image:none;
		background-color:transparent;font-family:sans-serif;}
div.tabs>ul	{padding:0 10px!important;border:none;background-image:none;
		background-color:transparent;}
div.tabs>ul>li	{background-image:none!important;border-radius-top-left:4px;
		border-radius-top-right:4px;border:none!important;
		background-color:#555!important;margin-bottom:2px;}
div.tabs>ul>li.ui-tabs-active	{background-color:#777!important;}
div.tabs>ul>li>a{outline:none!important;font-weight:normal;font-size:12px;}
div.tabs>div	{border-radius:4px;background-color:#777!important;}
div.tabs>div>div.preview	{border-radius:4px;color:#000;background-color:#fff;
		border:1px solid #333;padding:0 10px;}
div.tabs>div>div.preview a	{text-decoration:underline;color:#000;}
div.field:after {visiblity:hidden;display:block;font-size:0;content:" ";
		clear:both;height:0;}
div.field>div.input>div.error	{clear:both;font-size:11px;color:#f00;font-weight:bold;}
div.field>div.input>div.error span {margin-top:8px;display:block;}
div.field>div.input>div.current {margin-bottom:10px;}
div.field>div.input>div.current a,
.data a  {color:#ddd;}
div.field>div.input a.removefile {margin-left:25px;}
.text		{padding:5px;border-radius:4px;border:1px solid #333;
		width:100%;box-sizing:border-box;font-size:12px;}
.bigtext	{padding:5px;border-radius:4px;border:1px solid #333;
		width:100%;height:300px;box-sizing:border-box;font-size:12px;}
.datepart	{padding:5px;border-radius:4px;border:1px solid #333;
		width:40%;box-sizing:border-box;font-size:12px;}
.select		{padding:5px;border-radius:4px;border:1px solid #333;
		width:100%;box-sizing:border-box;font-size:12px;}
input.boolean	{margin-top:7px;margin-left:5px;}
div.field div.input select.oneof {width:80%;}

label		{position:absolute;top:6px;right:8px;font-weight:bold;}
div.label span	{font-size:8px;display:block;position:absolute;color:#aaa;right:10px;top:20px;}

.pager		{text-align:center;}
.pager a,
.pager span	{margin:0 10px;}
.pager a	{color:#ccc;font-weight:bold;text-decoration:none;}
.pager span	{color:#aaa;}

/*jQuery UI overrides*/
div.field div.input
span.ui-spinner {width:100%; border-radius:4px;border:1px solid #333;
		background-color:#fff;background-image:none;box-sizing:border-box;}
div.field div.input span.ui-spinner input
	{width:90%;font-family:Arial;color:#000;font-size:12px;
	outline:none;}
div.field div.input span.ui-spinner a.ui-spinner-button
	{border-width:0;}
div.field div.input span.ui-spinner a.ui-spinner-up
	{border-top-right-radius:4px;}
div.field div.input span.ui-spinner a.ui-spinner-down
	{border-bottom-right-radius:4px;}
div.field div.input
span.ui-timespinner {width:40%; border-radius:4px;border:1px solid #333;
		background-color:#fff;background-image:none;box-sizing:border-box;
		display:inline-block;}
